// Base
@import "variables";

// Define typography
html {
  font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
}

html, body {
	height: 100%;
	background: $border-color;
}

body {
	background: $background-color;
  margin: 0;
  overflow: hidden;
}

h1 {
	display: block;
	font-size: 2em;
	font-weight: bold;
	margin: 0;
  color: $h1-color;
}

p {
	display: block;
	font-size: 1em;
	margin: 0;
}

.button {
  background-color: $button-color;
  border: none;
  color: $button-color-text;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid $button-border-color;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: $button-hover-color;
  color: $button-hover-color-text;
}

// Vertically center anything
.right-middle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}