<!DOCTYPE html>
<html>

	<!-- START - Head partial placement -->
	{{>head}}
	<!-- END - Head partial placement -->

	<body>
		<div class="container">
			<!-- START - Header partial placement -->
		    {{>header}}
		    <!-- END - Header partial placement -->

			<!-- START - Content partial placement -->
			{{>content}}
			<!-- END - Content partial placement -->    

			<!-- START - Footer partial placement -->
		    {{>footer}}
		    <!-- END - Footer partial placement -->
		</div>
	</body>
</html>