  <header>
  	<div class="row">
  		<div class="column">
  			<score>
  				<h1>Click Start, to begin the game</h1>
  			</score>
  			<p>This will be replaced with the speed slider</p>
  		</div>
  		<div class="column right-middle">
  			<button class="button">Start</button>
  		</div>
  	</div>
  </header>