  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
  	<meta name="author" content="Umair Suleman">
  	<meta name="description" content="Dots Game">
  	<link rel="stylesheet" href="css/main.css" type="text/css">
  </head>