  <header>
  	<div class="row">
  		<div class="column">
  			<score>
  				<h1 id="score">Click Start, to begin the game</h1>
  			</score>
  			<div class="slidecontainer">
          <input type="range" min="10" max="100" value="50" step="10" class="slider" id="gameSpeed">
        </div>
  		</div>
  		<div class="column right-middle">
  			<button id="startButton" class="button">Start</button>
  		</div>
  	</div>
  </header>